@mixin before_circle {
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -2%;
        left: 0;
        height: 36px;
        width: 36px;
        box-shadow: 0 0 3px black;
        border-radius: 100%;
        background: $main-color;
    }
}